*{
	padding: 0;
	margin: 0;
	font-family: 'Arial', sans-serif;
	background-color: wheat;
	
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin-top: -10px;
}

h1{
	text-align: center;
	color: red;
	font-size: 2.5rem;
	font-weight: bold;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
	
}
h2{
	text-align: center;
color: #333;
	font-size: 1.5rem;
	
}
.btn-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.btn{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	margin: 20px;
}
.red{
	background-color: red;
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
	transition: transform 0.2s;
}
.green{
	background-color: green;
	box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
	transition: transform 0.2s;
}
.blue{
	background-color: blue;
	box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
	transition: transform 0.2s;
}
.yellow{
	background-color: yellow;
	box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
	transition: transform 0.2s;
}

.start-btn{
	
	
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
	
}

.start-btn{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-start{
	background-color: #f0f0f0;
	color: #333;
	font-size: 1.2rem;
	border: 2px solid #ccc;
	width: 200px;
	height: 50px;
	border-radius: 20px;

}
.flash{

	background-color: white;
}
.userflash{
	background-color: green;
}
@media (max-width: 300px) and (max-width: 700px){
	.btn{
		width: 100px;
		height: 100px;
		font-size: 1rem;
		margin: 10px;
	}
	.start-btn{
		width: 150px;
		height: 40px;
		font-size: 1rem;
	}
	h1{
		font-size: 2rem;
	}
	h2{
		font-size: 1.2rem;

	}
}